@page "/food"
@using System.Text.Json
@using System.Globalization
@using Blazored.Toast.Services
@using share.Models
@using Microsoft.Extensions.Logging
@inject NavigationManager Navigation
@inject HttpClient Http
@inject IToastService toastService
@inject ILogger<Food_Add> logger

<div>
    <button @onclick="goToAdd" class="btn btn-primary mt-4 mb-3 px-5" style="margin-left: 20px;">Thêm</button>
</div>

<div style="padding: 20px;">
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Mã số</th>
      <th scope="col">Tên</th>
      <th scope="col">Hình ảnh</th>
      <th scope="col">Giá</th>
      <th scope="col">Trạng thái</th>
      <th scope="col">Hành động</th>
    </tr>
  </thead>
     
  <tbody>
     @if(foods != null)
     {
         @foreach (var food in foods)
         {
            <tr>
              <th scope="row">@food.Id</th>
              <td>@food.Name</td>
              <td>
                  <img src="@food.Image" height="50"/>
              </td>
              <td>@(String.Format("{0:#,##0}", food.Price)) VNĐ</td>
              <td>@(food.Status ? "Còn hàng" : "Hết hàng")</td>
              <td>
                  <button class="btn btn-success" @onclick="(() => goToDetail(food.Id))">
                      <i class="bi bi-pencil"></i>
                  </button>

                  <button class="btn btn-secondary" @onclick="(() => deleteFood(food.Id))">
                      <i class="bi bi-x-lg"></i>
                  </button>
              </td>
            </tr>
         }
     }

  </tbody>
</table>
</div>

@code {
    private List<FoodModel> foods { get; set; }

    protected override async Task OnInitializedAsync()
    {
        foods = await Http.GetFromJsonAsync<List<FoodModel>>("https://localhost:44329/api/foods");
    }

    private void goToAdd()
    {
        Navigation.NavigateTo("/food/add");
    }

    private void goToDetail(int id)
    {
        Navigation.NavigateTo("/food/update/" + id);
    }

    private async void deleteFood(int id)
    {
        await Http.DeleteAsync("https://localhost:44329/api/foods/" + id.ToString());
        foods = await Http.GetFromJsonAsync<List<FoodModel>>("https://localhost:44329/api/foods");
        logger.LogInformation(foods.Count.ToString());
        toastService.ShowSuccess("Xoá món ăn thành công", "Thông báo");
        StateHasChanged();
    }
}
